@using System.Globalization
@model List<YearlyDataModelView>

@{
    ViewBag.Title = "Yearly Report";
    int year = ViewBag.Year;
    DateTimeFormatInfo month = new DateTimeFormatInfo();
}

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <div class="panel panel-default">
        <div class="panel-title">
            <h4>Yearly Income Expense Report</h4>
        </div>
        <form method="get">
            <div class="row">
                <div class="form-group col-md-6">
                    <select class="form-control" name="year" id="year" asp-items="Helper.GetYears()"></select>
                </div>
                <div class="col-md-6">
                    <button class="btn btn-success pull-right" id="getData" type="submit"> Show </button>
                </div>
                <br /><br />
            </div>
        </form>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th style="text-align: center">Income</th>
                            <th style="text-align: center">Expense</th>
                            <th style="text-align: center">Profit</th>
                        </tr>
                    </thead>
                    <tbody>
                    @foreach (YearlyDataModelView yearlyData in Model)
                    {
                        <tr>
                            <td>@month.GetMonthName(yearlyData.MonthId)</td>
                            <td style="text-align: center">@yearlyData.IncomeAmount</td>
                            <td style="text-align: center">@yearlyData.ExpenseAmount</td>
                            <td style="text-align: center">@yearlyData.Profit</td>
                        </tr>
                    }
                    </tbody>
                    <thead>
                    <tr>
                        <th>Total</th>
                        <th style="text-align: center">@Model.Sum(x=>x.IncomeAmount)</th>
                        <th style="text-align: center">@Model.Sum(x=>x.ExpenseAmount)</th>
                        <th style="text-align: center">@Model.Sum(x=>x.Profit)</th>
                    </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
            $('#month').val('@month');
            $('#year').val('@year');
        });
    </script>
}