@model List<Income>

@{
    ViewBag.Title = "Monthly Report: Incomes";
    int i = 0;
    string month = ViewBag.Month;
    string year = ViewBag.Year;
}

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <div class="panel panel-default">
        <div class="panel-title">
            <h4>View monthly income(s)</h4>
        </div>
        <form method="get">
            <div class="row">
                <div class="form-group col-md-4">
                    <select class="form-control" name="month" id="month" asp-items="Helper.GetMonths()"></select>
                </div>
                <div class="form-group col-md-4">
                    <select class="form-control" name="year" id="year" asp-items="Helper.GetYears()"></select>
                </div>
                <div class="col-md-4">
                    <button class="btn btn-success pull-right" id="getData" type="submit"> Show </button>
                </div>
                <br /><br />
            </div>
        </form>
        <div class="panel-body">
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Date</th>
                            <th style="text-align: center">Amount</th>
                            <th>Cash/Cheque</th>
                            <th>Cheque Details</th>
                            <th>Particular</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Income income in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@income.Date.ToString("yyyy MMMM dd")</td>
                                <td style="text-align: center">@income.Amount</td>
                                <td>@income.IncomeType</td>
                                <td>
                                    @if (income.IncomeType == "Cheque")
                                    {
                                        <span>Check No: @income.ChequeNo <br/> Bank Name: @income.BankName</span>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </td>
                                <td>@income.Particular</td>
                            </tr>
                        }
                    </tbody>
                    <thead>
                        <tr>
                            <th colspan="2">Total</th>
                            <th style="text-align: center">@Model.Sum(x=>x.Amount)</thstyle="text-align:>
                            <th colspan="3"></th>
                        </tr>
                    </thead>
                </table>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script>
            $(function () {
                $('#month').val('@month');
                $('#year').val('@year');
            });
    </script>
}
