@model List<Income>

@{
    ViewBag.Title = "View Income";
    int i = 0;
    bool isSrAccount = User.IsInRole("SrAccountant");
}

<div class="container col-md-8" style="margin-top: 150px;margin-bottom: 100px;">
    <h2>@ViewBag.Title</h2>
    <div class="panel panel-default">
        <div class="panel-title">
            <h4>View and approve pending Income(s)</h4>
        </div>
        <div class="panel-body">
            @if (TempData.ContainsKey("success"))
            {
                <div class="alert alert-success alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Success!</strong> @TempData["success"].ToString()
                </div>
            }
            else if (TempData.ContainsKey("error"))
            {
                <div class="alert alert-danger alert-dismissible">
                    <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                    <strong>Error!</strong> @TempData["error"].ToString()
                </div>
            }
            <div class="table-responsive">
                <table class="table table-bordered table-striped" id="dataTable">
                    <thead>
                        <tr>
                            <th>Sl</th>
                            <th>Date</th>
                            <th>Amount</th>
                            <th>Cash/Cheque</th>
                            <th>Cheque Details</th>
                            <th>Particular</th>
                            @if (isSrAccount)
                            {
                                <th>Approve</th>
                            }
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (Income income in Model)
                        {
                            i++;
                            <tr>
                                <td>@i</td>
                                <td>@income.Date.ToString("yyyy MMMM dd")</td>
                                <td>@income.Amount</td>
                                <td>@income.IncomeType</td>
                                <td>
                                    @if (income.IncomeType == "Cheque")
                                    {
                                        <span>Check No: @income.ChequeNo <br/> Bank Name: @income.BankName</span>
                                    }
                                    else
                                    {
                                        <span>N/A</span>
                                    }
                                </td>
                                <td>@income.Particular</td>
                                @if (isSrAccount)
                                {
                                    <td class="checkbox text-center"><label><input name="isApproved[]" value="@income.Id" type="checkbox" /></label></td>
                                }
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
        @if (isSrAccount)
        {
            <div class="panel-footer text-right">
                <button class="btn btn-primary" id="save" type="submit">Save</button>
            </div>
        }
    </div>
</div>

@section Scripts{
    <script>
        $(function () {
           $('#save').click(function(e) {
                e.preventDefault();

                var ids = [];

                $(':checkbox:checked').each(function() {
                    ids.push($(this).val());
                });

                $.ajax({
                    type: 'POST',
                    url: '@Url.Action("Approve", "Income")',
                    data: {ids: ids}
                }).done(function(response) {
                    if (response.success) {
                        window.location.href = response.redirecturl;
                    }
                }).fail(function(error) {
                    console.log(error.responseText);
                });
            });
        });
    </script>
}
